@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --color-background: white;
  --color-text: hsl(0, 0%, 10%);

  --color-contrast-light: hsl(0, 0%, 98%);
  --color-contrast-dark: hsl(0, 0%, 10%);

  --color-overlay: hsla(0, 0%, 50%, 0.5);

  --color-primary-hue: 320;
  --color-offset: 60;
  --color-saturation: 50%;
  --color-highlight-1: hsl(
    var(--color-primary-hue),
    var(--color-saturation),
    50%
  );
  --color-highlight-2: hsl(
    calc(var(--color-primary-hue) - 1 * var(--color-offset)),
    var(--color-saturation),
    50%
  );
  --color-highlight-3: hsl(
    calc(var(--color-primary-hue) - 2 * var(--color-offset)),
    var(--color-saturation),
    50%
  );
  --color-highlight-4: hsl(
    calc(var(--color-primary-hue) - 3 * var(--color-offset)),
    var(--color-saturation),
    50%
  );

  /* Font sizes */
  --fs-regular: 1rem;
  --fs-medium: 1.125rem;
  --fs-large: 2rem;
  --fs-extra-large: 3rem;

  /* Invert filter */
  --invert-filter: 0;

  /* Padding */
  --content-padding-inline: 2rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-background: hsl(0, 0%, 2%);
    --color-text: white;

    --color-contrast-light: black;
    --color-contrast-dark: hsl(0, 0%, 95%);

    --invert-filter: 1;
  }
}

/* Resets */
html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, system-ui;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.2;
  box-sizing: border-box;
  background-color: var(--color-background);
}

h1,
h2 {
  margin-block-start: 0;
  line-height: 1.2;
  letter-spacing: -0.0125em;
  max-width: 60ch;
}

h1 {
  font-size: var(--fs-regular);
  font-weight: 500;
  text-transform: uppercase;
  opacity: 50%;
}

h2 {
  font-weight: 600;
  font-size: var(--fs-large);
  margin-block-end: 0.25em;
}

h3 {
  margin-block: 3rem 0rem;
}

p {
  line-height: 1.5;
  margin-block-start: 0;
  max-width: 60ch;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: underline;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Generic helper classes */
.grid {
  display: grid;
}

.center-inline {
  justify-self: center;
}

.margin-block-end {
  margin-block-end: 1rem;
}

.padding-block-end {
  padding-block-end: 1rem;
}

.box {
  background-color: var(--color-contrast-light);
  border-radius: 1rem;
  padding: 1rem;
  margin-block-end: 2rem;
}

.invert-in-dark-mode {
  filter: invert(var(--invert-filter));
}

/* Snap scroll on mobile */
html,
body {
  scroll-snap-type: y mandatory;
}

.snap-to-top {
  scroll-snap-align: start;
}

.snap-to-center {
  scroll-snap-align: center;
}

@media (min-width: 480px) {
  html,
  body {
    scroll-snap-type: unset;
  }
}

/* Colors */
.highlight-1 {
  color: var(--color-highlight-1);
}

.highlight-2 {
  color: var(--color-highlight-2);
}

.highlight-3 {
  color: var(--color-highlight-3);
}

.highlight-4 {
  color: var(--color-highlight-4);
}

/* Google Material icons */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
  font-size: calc(1em * 1.5);
}

p .material-symbols-outlined {
  position: relative;
  top: 0.35rem;
}

/* Images */
img.shadow {
  filter: drop-shadow(0px 0.5rem 0.5rem var(--color-contrast-light));
  max-width: 80%;
  margin: 10%;
}

/* Styles for mobile devices */
@media only screen and (max-width: 480px) {
  .mobile {
    display: default;
  }
  .desktop {
    display: none;
  }
}
/* Styles for desktop devices */
@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: default;
  }
}

/* Content grid */
.content-grid {
  --content-max-width: 900px;
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--content-padding-inline), 1fr)
    [content-start]
    min(100% - (var(--content-padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--content-padding-inline), 1fr)
    [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

/* Section grids */
section {
  --section-background-color: var(--color-background);
  --section-color-text: var(--color-text);
  --section-color-contrast: var(--color-contrast-light);
  color: var(--section-color-text);
  background: var(--section-background-color);
  min-height: 100svh;
}

section.full-width {
  background: linear-gradient(
    to top,
    var(--section-color-contrast),
    var(--section-background-color) 10%
  );
}

section.dark {
  --section-background-color: var(--color-text);
  --section-color-text: var(--color-background);
  --section-color-contrast: var(--color-contrast-dark);
}

section .section-grid {
  --padding: 3rem;
  display: grid;
  column-gap: 2rem;
  padding-bottom: 0;

  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    "title"
    "text"
    "media"
    "media-full-width";
}
section .section-grid .title {
  padding-block-start: var(--padding);
  grid-area: title;
}

section .section-grid .text {
  grid-area: text;
}

section .section-grid *:first-child.text {
  padding-block-start: var(--padding);
}
section .section-grid *:last-child.text {
  padding-block-end: var(--padding);
}

section .section-grid .media {
  grid-area: media;
  justify-self: stretch;
  overflow: hidden;
  padding-block: var(--padding);
}

section .section-grid .media.limit-height {
  max-height: 20rem;
}
section .section-grid .media.full-width {
  grid-area: media-full-width;
  padding-block-end: var(--padding);
  margin-inline: calc(var(--content-padding-inline) * -1);
}

section .section-grid.one-col {
  grid-template-columns: 1fr;
}

section .section-grid.center > * {
  text-align: center;
  margin-inline: auto;
}
section .section-grid.center h1,
section .section-grid.center h2,
section .section-grid.center h3,
section .section-grid.center p {
  margin-inline: auto;
}

section.fullscreen {
  min-height: 100dvh;
}

@media (min-width: 480px) {
  section {
    min-height: auto;
  }

  section:not(.fullscreen) {
    min-height: auto;
  }

  section .section-grid {
    --padding-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "title title empty"
      "text text media"
      "media-full-width media-full-width media-full-width";
  }

  section .section-grid .media {
    min-height: auto;
  }

  section .section-grid .media.full-width {
    margin-inline: 0;
  }

  section .section-grid.text-aside .text {
    padding-block: 0;
    align-self: center;
  }

  section .section-grid.one-col {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "text"
      "media";
  }

  section .section-grid.reverse {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "title title empty"
      "media text text";
  }
}

/* Section grid - Hero */
section .section-grid.hero {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
    "heading"
    "rotating-text"
    "p"
    "span";
}
section .section-grid.hero > * {
  text-align: center;
  margin-inline: auto;
}

section .section-grid.hero * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

section .section-grid.hero .heading {
  grid-area: heading;
  align-self: end;
  margin-block-end: 0.1rem;
}

section .section-grid.hero .rotating-text {
  grid-area: rotating-text;
  margin-block-end: 0;
}

section .section-grid.hero span.more {
  grid-area: span;
  font-size: var(--fs-extra-large);
  align-self: end;
  margin-block-end: 1rem;
  opacity: 50%;
}

/* Section grid - Footer */
section .section-grid.footer {
  align-content: center;
  align-items: center;
}

/* Hero section - Rotating text */
.rotating-text {
  opacity: 0;
}
.rotating-text:nth-of-type(2) {
  animation: rotate-text-up 1.5s 0.75s;
}

.rotating-text:nth-of-type(3) {
  animation: rotate-text-up 1.5s 2s;
}

.rotating-text:nth-of-type(4) {
  animation: rotate-text-up 1.5s 3.25s;
}

.rotating-text:nth-of-type(5) {
  animation: rotate-text-up 1.5s 4.5s;
}

.rotating-text:nth-of-type(6) {
  animation: fade-text-in 1.5s 5.75s forwards;
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Logos */
.logos img {
  max-width: 60%;
  margin-inline: auto;
  filter: grayscale(1);
  transition: all 0.5s ease;
}

.logos img:hover {
  filter: grayscale(0);
}

/* List - Chips */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 45deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

ul.chips {
  margin-bottom: 2rem;
  padding-inline: 0;
  list-style-type: none;
}

ul.chips li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  margin: 0.5rem;
}

ul.chips span {
  --radius: 2rem;
  --border: 0.125rem;
  display: block;
  background: var(--section-color-contrast);
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: var(--radius);
}

ul.chips span::before,
ul.chips span::after {
  content: " "; /* Ensure there's space to render the content */
  position: absolute;
  z-index: -1;
  top: calc(var(--border) / -1);
  right: calc(var(--border) / -1);
  bottom: calc(var(--border) / -1);
  left: calc(var(--border) / -1);
  border-radius: calc(var(--radius) + var(--border));
  background: conic-gradient(
    from var(--gradient-angle, 45deg),
    var(--color-highlight-1),
    var(--color-highlight-2),
    var(--color-highlight-3),
    var(--color-highlight-2),
    var(--color-highlight-1)
  );
  animation: rotation 20s linear infinite;
}

ul.chips span::after {
  filter: blur(0.5rem);
  z-index: -2;
  opacity: 0.25;
}

footer p {
  max-width: 30ch;
}

/*  Horizontal scroller */
.horizontal-scroller {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  grid-auto-columns: 70%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scrollbar: none;
}

.horizontal-scroller::-webkit-scrollbar {
  display: none;
}

.horizontal-scroller:first-child::before {
  /* centers first item in grid cell */
  content: "";
}
.horizontal-scroller:last-child::after {
  /* centers last item in grid cell */
  content: "";
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}
.snaps-inline > * {
  scroll-snap-align: center;
}

.horizontal-edge-mask {
  --mask: linear-gradient(to right, transparent 0, black 4rem) left,
    linear-gradient(to left, transparent 0, black 4rem) right;
  --mask-size: 51% 100%;
  --mask-repeat: no-repeat;
  mask: var(--mask);
  mask-size: var(--mask-size);
  mask-repeat: var(--mask-repeat);
  -webkit-mask: var(--mask);
  -webkit-mask-size: var(--mask-size);
  -webkit-mask-repeat: var(--mask-repeat);
}

@media (min-width: 480px) {
  .horizontal-scroller {
    grid-auto-columns: unset;
  }

  .horizontal-scroller:first-child::before {
    /* centers first item in grid cell */
    content: none;
  }

  .horizontal-scroller:last-child::after {
    /* centers last item in grid cell */
    content: none;
  }

  .horizontal-edge-mask {
    mask: none;
    -webkit-mask: none;
  }
}

/* Typewriter */
.faux-input {
  border: 1px solid var(--color-overlay);
  border-radius: 2rem;
  padding: 0.5rem;
  padding-inline: 1rem;
}

.typewriter-animation {
  --background: var(--color-background);
  font-size: 0.75rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--background);
}

.typewriter-animation span {
  position: relative;
}

.typewriter-animation span::before {
  content: "Write a report";
  color: var(--color-text);
  animation: words 20s infinite;
}

.typewriter-animation span::after {
  content: "";
  background-color: var(--background);
  position: absolute;
  width: calc(100% + 0.5ch);
  border-left-style: solid;
  border-left-width: calc(1ch / 2.5);
  border-left-color: var(--background);
  right: -0.5ch;
  top: -0.1rem;
  bottom: -0.1rem;
  animation: cursor 1s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left-color: var(--color-text);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Draft a case report and save it to G-Docs";
  }
  21%,
  40% {
    content: "Evaluate ROM progress";
  }
  41%,
  60% {
    content: "Use KNGF guidelines to recommend Ax";
  }
  61%,
  80% {
    content: "Draft a referral letter for OT";
  }
  81%,
  100% {
    content: "Help this patient to take over the world";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 0.5ch);
  }
}

/* AI input */
section .section-grid .media.ai-input {
  position: relative;
  padding-inline: 10%;
  margin-block-start: 108%;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Helvetica Neue", Arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  letter-spacing: -0.0125em;
}
section .section-grid .media.ai-input .typewriter-animation {
  --background: white;
  --color-text: black;
}

section .section-grid .media.ai-input .faux-input {
  padding: clamp(0px, 2vmin, 16px);
  padding-inline: clamp(8px, 3vmin, 16px);
  font-size: clamp(0.1rem, 2.8vmin, 1rem);
}

@media (min-width: 480px) {
  section .section-grid .media.ai-input {
    margin-block-start: 105%;
  }
  section .section-grid .media.ai-input .faux-input {
    padding: clamp(0px, 0.95vmin, 10px);
    padding-inline: clamp(4px, 1vmin, 10px);
    font-size: clamp(4px, 0.95vmin, 9.1px);
  }
}

/* Contact animation */
@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--offset-x));
  }
}

.point {
  --offset-x: -0.125em;
  animation: point 0.6s infinite alternate ease-in-out;
}

.point.left {
  --offset-x: 0.124em;
}
